<section class="modal">
  <header>
    <img (click)="close()" class="image-header" src="assets/close-icon.svg" />
  </header>
  <main>
    <div class="wrapper">
      <header>
        <h1>{{ course.value.Name }}</h1>
      </header>
      <div class="post-date">
        <p>Data zamieszczenia ogłoszenia: {{ creationDate | date: 'dd.MM.yyyy' }}</p>
      </div>
      <section class="data-container">
        <section class="basic-data-container">
          <h3>Podstawowe informacje</h3>
          <p><span>Cena:</span> {{ course.value.Price }} PLN</p>
          <p><span>Poziom zaawansowania:</span> {{ (courseLevel | async)?.Name || 'Nie podano' }}</p>
          <p><span>Rodzaj tańca:</span> {{ (course$ | async)?.Name }}</p>
          <p><span>Szkoła:</span> {{ (school | async)?.Name }}</p>
        </section>
        <section class="logo-container">
          <img src="assets/dance-icon.svg" alt="icon" />
          <p class="logo"><span>DANCE</span>finder</p>
        </section>
        <section class="action-buttons-container" *ngIf="course.value?.Owned || allPrivilege">
          <button routerLink="./dodaj-grupe-zajeciowa">Dodaj grupę zajęciową</button>
          <button class="red-button" (click)="deleteCourse()">Usuń kurs</button>
        </section>
      </section>
      <section class="groups-container">
        <h2>Grupy zajęciowe:</h2>
        <p *ngIf="!(groups | async)">Obecnie nie są dodane żadne grupy zajęciowe.</p>
        <div class="groups-grid-container" *ngIf="(groups | async)?.length > 0">
          <div class="group" *ngFor="let group of groups | async | keyvalue">
            <button
              routerLink="./lista-kursantow"
              (click)="getGroupData(group)"
              *ngIf="course.value?.Owned || allPrivilege"
            >
              Pokaż kursantów
            </button>
            <div class="group-element">
              <p class="title">Instruktor:</p>
              <div class="group-element-content">{{ group.value?.FirstName }} {{ group.value?.LastName }}</div>
            </div>
            <div class="group-element">
              <p class="title">Numer sali:</p>
              <div class="group-element-content">
                {{ group.value?.RoomNumber }}
              </div>
            </div>
            <div class="group-element">
              <p class="title">Dzień:</p>
              <div class="group-element-content">
                {{ group.value?.StartDay }}
              </div>
            </div>
            <div class="group-element">
              <p class="title">Data rozpoczęcia:</p>
              <div class="group-element-content">
                {{ group.value?.StartDate | date: 'dd.MM.yyyy' }}
              </div>
            </div>
            <div *ngIf="course.value?.Owned || allPrivilege" class="delete-group" (click)="deleteGroup(group)">
              <span>X</span>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <footer></footer>
</section>
