section {
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
  border: 1px solid #691A8C;
  padding: 20px;
  position: relative;

  &:nth-of-type(n + 2) {
    margin-top: 30px;
  }

  .opinion {
    font-style: italic;
    font-size: 15px;
    letter-spacing: 0.3px;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .date {
      font-size: 14px;
      color: #dbdbdb;
    }

    .reviewer {
      font-weight: bold;
    }
  }

  .delete-opinion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #E74C3C;
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 4px;
    cursor: pointer;

    span {
      color: #fff;
      font-size: 20px;
    }
  }
}
