<section>
  <header>
    <img src="assets/close-icon.svg" routerLink="../" alt="icon" />
  </header>
  <main>
    <div class="wrapper">
      <div class="add-new-student-container">
        <h1>Dodaj kursanta:</h1>
        <form [formGroup]="addNewStudentForm">
          <div class="flex-container">
            <div class="title-container">
              <p class="title">Kursanci:</p>
              <select formControlName="student">
                <option value="" disabled selected>Wybierz kursanta...</option>
                <ng-container *ngFor="let student of (students | async) || [] | keyvalue">
                  <option [ngValue]="student.value?.PersonId">
                    {{ student.value?.Data.FirstName }} {{ student.value?.Data.LastName }}
                  </option>
                </ng-container>
              </select>
              <app-input-error
                *ngIf="addNewStudentForm.controls.student?.invalid && addNewStudentForm.controls.student?.touched"
                [errorText]="errorTextMessages.student"
              >
              </app-input-error>
            </div>
          </div>
          <button [disabled]="addNewStudentForm.invalid" (click)="addNewStudent()">Dodaj kursanta</button>
        </form>
      </div>
    </div>
  </main>
  <footer></footer>
</section>
